<div class="row">
    <app-autocomplete />
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': type === 'juniors'}" (click)="getToJuniors()">Juniors</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': type === 'seniors'}" (click)="getToSeniors()">Seniors</a>
      </li>
    </ul>

    <app-list [cvs]="type === 'juniors' ? juniorCvs : seniorCvs"></app-list>
  </div>

  <div class="col">
    <app-cv-card [cv]="selectedCv$ | async"></app-cv-card>
  </div>
</div>

<app-embauche></app-embauche>
